# Jekyll configuration
title: MKLA/DEV
description: If my wife got a website, i should get one too.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site

# Build settings
markdown: kramdown

# Exclude files from build
exclude:
  - README.md
  - .gitignore
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .bundle/

# Permalink structure
permalink: /:title/

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:year/:month/:day/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"